.projects-page {
  .text-zone {
    position: absolute;
    left: 10%;
    top: 20%;
    vertical-align: middle;
    display: table-cell;
    max-height: 90%;

    h1 {
      width: 35%;
      font-size: 53px;
      font-family: 'Coolvetica';
      color: #2272ff;
      font-weight: 400;
      margin-top: 0;
      position: relative;
      margin-bottom: 40px;
      left: 10px;

      &:before {
        content: '<h1>';
        font-family: 'La Belle Aurore', cursive;
        color: #2272ff;
        font-size: 18px;
        position: absolute;
        margin-top: -10px;
        left: -10px;
        opacity: 0.6;
        line-height: 18px;
      }

      &:after {
        content: '<h1/>';
        font-family: 'La Belle Aurore', cursive;
        color: #2272ff;
        font-size: 18px;
        line-height: 18px;
        position: absolute;
        left: -30px;
        bottom: -20px;
        margin-left: 20px;
        opacity: 0.6;
      }
    }

    .text-animate-hover {
      &:hover {
        color: #fff;
      }
    }
  }

  .projects-container {
    display: flex;
    flex-wrap: wrap;
  }

  .project-box {
    padding: 0 1.5rem;
    margin: 1em;
    width: calc(50% - 5em);
    min-height: 180px;
    display: block;
    text-decoration: none;

    h3 {
      font-size: 22px;
      color: #fff;
      font-family: Coolvetica;
      font-weight: 100;
    }

    p {
      font-size: 13px;
      color: #fff;
      font-family: sans-serif;
      font-weight: 300;
      max-width: fit-content;
      animation: pulse 1s;
      &:nth-of-type(1) {
        animation-delay: 1.1s;
      }
      &:nth-of-type(2) {
        animation-delay: 1.2s;
      }
      &:nth-of-type(3) {
        animation-delay: 1.3s;
      }
      &:nth-of-type(4) {
        animation-delay: 1.3s;
      }
    }
  }

  .parkx {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/images/parkx-image.avif");
  }
  .connecting {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/images/connecting-image.avif");
    background-size: cover;
    background-position: -20px;
  }
  .webc {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/images/web-crawler-image.avif");
    background-size: cover;
    background-position: -20px;
  }
  .sppm{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/images/sppm-image.jpeg");
    background-size: cover;
    background-size: cover;
    background-position: -20px;
  }
}
